body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("./assets/world.jpg");
    background-size: cover;
}

#hero-heading{
    text-align: center;
    color: steelblue;
    font-size: 3em;
    text-shadow: 2px 2px rgb(26, 26, 26);
}

#enter-city{
    display: flex;
    justify-content: center;
    height: 35px;
    margin-top: 5vh;
}

#temp-data{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

#city-name{
    font-size: 4.3em;
    color: steelblue; 
    text-shadow: 2px 2px  rgb(26, 26, 26); 
}

#city-input{
    background: rgba(255, 255, 255, 0.466);
    border: 1px solid rgb(26, 26, 26);
    border-right: none;
    border-radius: 25px;
    width: 300px;
    padding: 20px 0px 20px 0px;
}

#temp{
    margin-top: -5px;
    font-size: 2.5em;
    color: steelblue; 
    text-shadow: 1.5px 1.5px rgba(0, 0, 0, 0.541) ;
    cursor: pointer;
}
 
#feels{
    color: yellow;
text-shadow: 1px 1px rgba(0, 0, 0, 0.836);
}

#search{
    background: rgba(255, 255, 255, 0);
    border: 0px solid rgb(255, 255, 255); 
    border-radius: 50px;
    margin-left: -50px;
    font-size: 1.9em;
    position: relative;
    color: black;
    width: 50px; 
    height: 40px;

}
 
#search:hover{
    background-color: rgba(245, 245, 245, 0.493); 
}
 
.loading{
    background-color: black;
}

@media all and (max-width: 400px){
    body{
        height: 100vh;
    }
    #hero-heading{
        margin-top: 10vh;
        font-size: 2.3em;
    }
}
